.folder-name {
	font-size: 1.5em;
	display: flex;
	align-items: end;
	gap: 0.7rem;
}
.folder-name p {
	margin: 0;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}
